<!DOCTYPE html>
<html lang="en" xmlns="th='http://www.thymeleaf.org'">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:insert="fragments/bootstrap.html"></div>
    <title>Edit</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div th:insert="fragments/navbar.html"></div>
            </div>
        </div>
        <form action="#" th:action="@{/management/add}" th:object="${ticket}" method="POST">
            <div class="row">
                <div class="col">Id:</div>
                <div class="col">
                    <input type="text" th:field="*{id}">
                </div>
            </div>
            <div class="row">
                <div class="col">Number:</div>
                <div class="col">
                    <input type="text" th:field="*{number}">
                </div>
            </div>
            <div class="row">
                <div class="col">Subject:</div>
                <div class="col">
                    <input type="text" th:field="*{subject}">
                </div>
            </div>
            <div class="row">
                <div class="col"><input type="submit" class="btn btn-success btn-lg btn-block"></div>
            </div>
        </form>
    </div>
</body>

</html>