<div th:insert="fragments/head.html"></div>

<div th:insert="fragments/container.html"></div>
<form action="#" th:action="@{/management/add}" th:object="${ticket}" method="POST">
    <div class="row">
        <div class="col">Subject:</div>
        <div class="col">
            <input type="text" th:field="*{subject}">
        </div>
    </div>
    <div class="row">
        <div class="col"><input type="submit" class="btn btn-success btn-lg btn-block"></div>
    </div>
</form>

<div th:insert="fragments/end.html"></div>