<div th:insert="fragments/head.html"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <div th:insert="fragments/navbar.html"></div>
        </div>
    </div>
    <form action="#" th:action="@{/management/addComment/} + ${id}" th:object="${ticketUpdate}" method="POST">
        <div class="row">
            <input type="text" th:field="*{number}">
            <div class="col">Comment:</div>
            <div class="col">
                <input type="text" th:field="*{comment}" required>
            </div>
        </div>
        <div class="row">
            <div class="col"><input type="submit" class="btn btn-success btn-lg btn-block"></div>
        </div>
    </form>

</div>

<div th:insert="fragments/end.html"></div>