<!DOCTYPE html>
<html lang="en" xmlns="th='http://www.thymeleaf.org'">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:insert="fragments/bootstrap.html"></div>
    <title>Management</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div th:insert="fragments/navbar.html"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
            </div>
        </div>
    </div>
</body>

</html>