<div th:insert="fragments/head.html"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div th:insert="fragments/navbar.html"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Details</th>
                            <th scope="col">Add Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${tickets}">
                            <th scope="row" th:text="${ticket.id}"></th>
                            <td th:text="${ticket.subject}"></td>
                            <td><button>See Details</button></td>
                            <td><a href="/management/addComment"><button type="button" class="btn btn-info">Add Comment</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
<div th:insert="fragments/end.html"></div>