<!DOCTYPE html>
<html lang="en" xmlns="th='http://www.thymeleaf.org'">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:insert="fragments/bootstrap.html"></div>
    <title>Management</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div th:insert="fragments/navbar.html"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Number</th>
                            <th scope="col">Subject</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody th:if="${tickets} != null">
                        <tr th:each="ticket : ${tickets}">
                            <th scope="row" th:text="ticket.id"></th>
                            <td th:text="${ticket.number}"></td>
                            <td th:text="${ticket.subject}"></td>
                            <td><button>s</button></td>
                        </tr>
                    </tbody>
                    <tbody th:unless="${tickets} == null">
                        <tr>
                            <th scope="row">
                            <td>Empty</td>
                            <td>List</td>
                            <td><a href="/management/add"><button type="button" class="btn btn-primary">Add</button></a>
                            </td>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>